{% extends "appbuilder/base.html" %}

{% block content %}
<h4><center>{{_('Произошла непредвиденная ошибка. <br><br><br>
    Разработчикам отправлено уведомление с подробностями
    этой ошибки. <br>Мы сделаем все возможное, чтобы исправить эту
    ошибку в кратчайшие сроки.')}}</center></h4>
{% endblock %}


